{% extends 'partials/base.html' %}
{% block title %}Products Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Products</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-8">
      <div class="card card-body">
        <a class="btn btn-secondary  btn-lg btn-block">TOTAL PRODUCTS</a>
        <br>
        <div class="table-responsive">
          <br>
          <table class="table table-dark  table-hover table-sm ">
            <thead class="thead-dark text-center">
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">TOTAL COUNT</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for product in product %}
              <tr class="text-center">
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td><a href="{% url 'dashboard-products-edit' product.id %}" class="btn btn-warning rounded btn-sm mr-2">
                  <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
                  <lord-icon
                      src="https://cdn.lordicon.com/puvaffet.json"
                      trigger="hover"
                      colors="primary:#000000,secondary:#000000"
                      style="width:32px;height:32px">
                  </lord-icon>
                    Edit
                  </a>
                  
                  <a href="{% url 'dashboard-products-delete' product.id %}"  class="btn btn-danger btn-sm ml-2">
    
                      <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
                      <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="hover"
                        colors="primary:#000000,secondary:#b4b4b4" style="width:32px;height:32px">
                      </lord-icon>
                      Delete
                  </a>
                </td>
                {% endfor %}
              </tr>
          </table>

        </div>

      </div>


      {% endblock %}