{% extends 'partials/base.html' %}
{% block title %}Login Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    #login-form{
        text-transform: uppercase;
        background-color:#ffffff;
        padding: 20px;
        box-shadow: 10px 8px 8px 5px #17a2b8;
    }


    
    </style>
    
            
            
    
            <div class="container">
                <h4 class="text-center  text-light pt-5 ">Login </h4>
        
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form-control" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                    <input type="submit"  class="btn btn-outline-info btn-md" value="Login">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

    

{% endblock %}